body{
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

/* reset */

h1, h2, h3, h4, h5, h6,p{
    margin: 0;

}

ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

/* common */

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */

.header{
    border-bottom: 1px solid #e7e9fc;
}
.header-container{
    display: flex;
    align-items: center;
}

.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-logo .logo-pat {
    color: #2E2F42;
}

.logo{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-nav-menu{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav-menu-list-link{
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.header-address{
    font-style: normal;
    margin-left: auto;

}

.header-address-menu{
    display: flex;
    align-items: center;;
    gap: 40px;
}

.header-address-menu-list-link{
    display: block;
    padding: 24px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-address-menu-list-link:hover,
.header-address-menu-list-link:focus,
.header-nav-menu-list-link:hover,
.header-nav-menu-list-link:focus {
    color: #404BBF;
}

/* main */
/* hero */

.hero{
    background-color:#2E2F42;
    padding: 188px 0;
}

.hero-container{
    display: flex;
    align-items: center;
   justify-content: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title{
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-button{
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color:#4D5AE5;
    cursor: pointer;
    font-weight: 500;
     font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
     color: #FFFFFF;
}

.hero-button:hover,
.hero-button:focus{
    background-color:#404BBF;
}

/* features*/

.features,
.team,
.portfolio{
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.features-list-item{
    width: calc((100% - 72px) / 4);
}

.features-list-item-title{
    margin-bottom: 8px;
}


.portfolio-list-item-title,
.features-list-item-title,
.team-list-item-title
{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.team-list-item-text,
.features-list-item-text,
.portfolio-list-item-text,
.footer-text{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* team */

.container-team{}

.team{
    background-color:#f4f4fd;;
}

.team-title{
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-list-item{
    width:calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba (46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    border-radius: 0 0 4px 4px;
}

.team-content{
    padding: 32px 16px;
}

.team-list-item-title{
    margin-bottom: 8px; 
}

.team-list-item-text{
}

.portfolio-title,
.team-title,
.features-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-list-item-title,
.team-list-item-text{
    text-align: center;
}

/* portfolio */

.container-portfolio{

}

.portfolio-title{
    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    gap: 48px 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-list-item{
    width: calc((100% - 48px) / 3);
}

.portfolio-list-text{
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-list-item-title{
    margin-bottom: 8px;
}

.portfolio-list-item-text{
}

/* footer */

.footer-content{
    display: flex;
    flex-direction: column;
   max-width: 264px;
    gap:16px;
} 

.page-footer{
    padding: 100px 0;
    background-color: #2E2F42;
    color: #f4f4fd;
}

.footer-logo .logo-pat {
    color: #f4f4fd;
}